body {
    background-color: #E5E5E5;
}

.nav-bg {
    background-color: #562EFF;

}

.logo {
    width: 40px;
}

.navbar-nav,
.nav-link {
    color: white;
}

.player-p {
    width: 50px;
}

.line {
    border: 1px solid #D1D1D1;
   max-width: 850px;
}

.top-p {
    color: #562EFF;
}

.blog-img {
    width: 154px;
}

.p-f {
    font-size: 12px;
    color: #562EFF;
}

.by-g {
    color: lightgrey;
}
.card-img-top {
    width: 224px;
}

.card-text {
    color: #ED6B4F;
}

.card-footer img {
    width:
        20px;
}
.bg-f{
    background-color: #FFE4E8;
    color: #FF4A60;
    border-radius: 14.6913px;
    width: 94.83px;
    height: 29.38px;
}
.card-footer{
    background-color: #ffff;
    border: none;
}
.card {
    border: none;
    border-radius: 20px;
}
.bg-light-2nd{
    background-color: #ffff;
    
}